@media (max-width: 1200px) {
}

@media (max-width: 1024px){
    .war-grid{
        padding: 15px 0px;
    }
    .war-grid .war-half {
        display: block;
        float: none;
        width: 90%;
        padding: 15px 5%;
    }
}
@media (max-width: 800px){
    #header{
        min-height: 400px;
        display: block;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    #header img{
        max-width: none;
        min-height: 100%;
        width: auto;
        position: absolute;
        height: 100%;
        left: 50%;
        
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

    }
    #header .header-title {
        position: static;
        font-size: 36px;
        line-height: 1.1;
        right: auto;
        display: block;
        width: auto;
        margin: 0px 3%;
        padding: 5%;
        color: #fff;
        background: rgb(15, 96, 87);
        mix-blend-mode: multiply;
         -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
         transform: none;
    }

    #form .input-field label{
        display: block;
    }

    #form .input-field input {
        display: block;
    }
}
