html {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.333;
    color: #000;
}

h1 {
    font-size: 51px;
    font-weight: 300;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

h1 b, h2 b {
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.war-grid {
    display: block;
}

.war-grid .war-half {
    display: block;
    float: left;
    width: 40%;
    padding: 60px 5%;
}

#header {
    position: relative;
    margin-bottom: -3px;
}

#header img {
    width: 100%;
}

#header .header-title {
    font-size: 50px;
    line-height: 55px;
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    display: block;
    width: 36%;
    margin: 0;
    padding: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: -1px;
    color: #fff;
    background: rgba(15, 96, 87, 0.9);
    mix-blend-mode: multiply;
}

#slider .details {
    font-size: 30px;
    line-height: 1;
    z-index: 999;
    display: block;
    margin-bottom: -20px;
    text-align: center;
    color: #003d43;
}

#slider .details .item p {
    margin-bottom: 20px;
    padding: 45px 5%;
    background-color: #a2c108;
}

#slider .details .item:after {
    position: absolute;
    z-index: 999;
    bottom: 7px;
    left: 50%;
    display: block;
    width: 26px;
    height: 26px;
    margin-left: -5px;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #a2c108;
}

#slider .items {
    position: relative;
    width: 76%;
    padding: 80px 12%;
    text-align: center;
    color: #fff;
    background-color: #18a292;
}

#slider .items .circle-art {
    z-index: 1;
    display: block;
    width: 205px;
    height: 205px;
    margin: auto;
    background: url(../images/bg-image.png) no-repeat;
}

#slider .items .circle-art img {
    z-index: 999;
    width: 100%;
    max-width: 200px;
    margin: auto;
    height: auto;
}

#slider .items p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#slider .items big {
    font-size: 36px;
}

#accordion .tab {
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
    background-color: #ededed;
}

#accordion .tab * {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#accordion .tab .tab-title {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #fbf1ea;
    background-color: #18a292;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px auto;
}

#accordion .tab .tab-title h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    padding: 16px;
}

#accordion .tab .tab-body {
    display: none;
    height: 0;
    padding: 16px;
    background-color: #ededed;
}

#accordion .tab .tab-body p+p {
    margin-top: 30px;
}

#accordion .tab .tab-title.active {
    background-color: #107065;
    background-image: url(../images/chevron-up.svg);
}

#accordion .tab .tab-title.active+.tab-body {
    display: block;
    height: auto;
}

#form {
    max-width: 420px;
    margin: auto;
    border: solid 1px #ededed;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(31, 19, 16, .16);
    box-shadow: 0 2px 3px 0 rgba(31, 19, 16, .16);
}

#form .form-header {
    font-size: 23px;
    font-weight: 300;
    margin: -1px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border: solid 1px #bebebe;
    border-radius: 20px 20px 0 0;
    background-color: #107065;
}

#form .form-body {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    padding: 30px 50px 50px;
    color: #868686;
}

#form .input-field {
    display: block;
    padding: 7px 2px;
    border-bottom: 1px solid #868686;
}

#form .input-field input {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 30px;
    height: 35px;
    margin: 5px 0 0 0;
    padding: 0 10px;
    border: 0;
}

#form .input-field input:focus {
    outline: none;
}

#form .submit-btn {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin: 70px auto 0;
    padding: 14px 80px;
    text-transform: uppercase;
    color: #164b3f;
    border: none;
    border-radius: 10px;
    background: #a2c108;
}

#footer {
    font-size: 16px;
    font-weight: 300;
    line-height: 180px;
    display: block;
    height: 180px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #1d353e;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: transparent;
    background-image: url(../images/triangle-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px 60px;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 60px;
    height: 60px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: transparent;
    background-image: url(../images/triangle-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px 60px;
}
