body,
html,
p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
img,
figure,
form,
label,
a,
section,
footer,
header,
figcaption,
b,
i
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    list-style: none;

    vertical-align: baseline;

    border: 0;
}


.clearfix{
    clear: both;
}
